# Python
venv
__pycache__/
.pytest_cache/
*.py[cod]
.mypy_cache
.ruff_cache

# Dev
.vscode/settings.json

# Project Euler
# Ignore problems above 100
# Among 3-digits, still include 100
src/project_euler/**/problem_1[1-9]0*.py
src/project_euler/**/problem_[1-9][0-9][1-9]*.py
# Approximation to ignoring 4-digits or more
src/project_euler/**/problem_*[0-9][0-9][0-9]*.py
# Also ignore python modules except the first 2 groups
src/project_euler/problems_[1-9][0-9][0-9]*/__init__.py
